
<div class="slidehead">ABOUT US</div>
<div class="slider">
    <figure>
        <div class="slide">
            <h1>What do we do</h1>
            <img src="../../../assets/Images/aboutus1.png" alt="">
        </div>
        <div class="slide">
            <h1>Vision and Mission</h1>
            <img src="../../../assets/Images/aboutus2.png" alt="">
        </div>
        <div class="slide">
            <h1>Mandate</h1>
            <img src="../../../assets/Images/aboutus3.png" alt="">
        </div>
        <div class="slide">
            <h1>Policy Initiatives</h1>
            <img src="../../../assets/Images/aboutus4.png" alt="">
        </div>
    </figure>
</div>