.ngo-step{
    width: 100%;background: url('../../../assets/Images/girl-with-flying-books-with-magic-glow-sparkles.jpeg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p, li {
    text-align: justify;
    line-height: 1.6em;
}