
<div class="container-fluid" id="registration-step">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="h4-responsive text-center p-2">What are the training courses for?</h4>
                </div>
                <div class="card-body">
                    <ul type="disc">
                        <li>The training course provided by an NGO will be provided to the user who registers for our
                            STEP programme</li>
                        <li>These courses are primarily for women who want to start earning from themselves and work
                            independently to support their family and their future</li>
                        <li>The courses provided by an NGO will act as a skill development for all the hard working
                            women.</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h4 class="h4-responsive text-center p-2">What are the basic requirements for adding a course?</h4>
                </div>
                <div class="card-body">
                    <ul type="disc">
                        <li>A training course option should be provided by NGO among the three: </li>
                        <ul type="disc">
                            <li>Agriculture</li>
                            <li>Tailoring</li>
                            <li>Stitching</li>
                        </ul>
                        <li>Every training course provided should have a Start date, End date along with the duration of
                            the training</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="register">
                <form #mform="ngForm" (ngSubmit)="add(mform)" name="step-form" class="form table-responsive"
                    ngNativeValidate>
                    <h3 class="h3-responsive text-center p-3">Add Training Courses</h3>
                    <p class="text-center red-text">All fields marked with * are mandatory</p>
                    <table class="table table-striped table-condensed">
                        <tbody class="md-form">
                            <tr>
                                <th>Course Provided <span class="text-danger">*</span></th>
                                <td class="form-group" >
                                    <select name="courseName" class="form-control"
                                         autofocus ngModel>
                                        <option value="agriculture">Agriculture</option>
                                        <option value="tailoring">Tailoring</option>
                                        <option value="stiching">Stiching</option>
                                    </select>
                                    
                                </td>
                            </tr>
                            <tr>
                                <th>Duration (in months) <span class="text-danger">*</span></th>
                                <td class="form-group" >
                                    <input  type="text" class="form-control"
                                        placeholder="Enter Duration(in months)" name="duration"ngModel>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>Description <span class="text-danger">*</span></th>
                                <td class="form-group" >
                                    <textarea type="text" class="form-control"
                                        name="description" placeholder="Enter Description of Course" 
                                        ngModel></textarea>
                                  
                            </tr>
                            <tr>
                                <th>NGO Name <span class="text-danger">*</span></th>
                                <td class="form-group" >
                                    <input  type="text" class="form-control"
                                        placeholder="Name of NGO" name="ngoName" ngModel>
                                   
                                </td>
                            </tr>
                            <tr>
                                <th>Location <span class="text-danger">*</span></th>
                                <td class="form-group">
                                    <input  type="text" class="form-control"
                                        placeholder="Enter the location" name="location" ngModel>
                                   
                                </td>
                            </tr>
                            <tr>
                                <th>Start Date <span class="text-danger">*</span></th>
                                <td class="form-group" >
                                    <input  type="date" class="form-control"
                                        placeholder="Enter the Start Date of the course" name="start_Date" ngModel>
                                   
                                </td>
                            </tr>
                            <tr>
                                <th>End Date <span class="text-danger">*</span></th>
                                <td class="form-group" >
                                    <input type="date" class="form-control"
                                        placeholder="Enter the End Date of the course" name="end_Date" ngModel>
                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><button type="submit" class="btn btn-success btn-md" [disabled]="mform.invalid">Register this course</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

{{mform.value|json}}