
<body class="vh-80 gradient-custom" style="overflow-y:hidden">
    <div class="card shadow-8-strong " style="border-radius: 20px; margin: 0px 500px; padding-left: 50px">
        <br />
        <h5 class="fw-normal mb-3 pb-3 shadow-8-strong" style="text-align: center;"> Please log into your account</h5>
        <br />
        <br />
        <form #myform="ngForm"  (ngSubmit)="onSubmit(myform)">
            <div class="row mb-3 form-outline mb-4">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Enter Email" ngModel>
                </div>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" ngModel>
                </div>
            </div>
            <br>
            <br>
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
    
                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div>


            <!-- Submit button -->
            <div class="justify-content-center">
                <button type="submit" class="btn btn-primary col-md-10">Login</button>
            </div>
                
            
            <br>
            <br>

            

            <!-- Register buttons -->
            <div class="text-center">
                 <p>Not a member? <a href="stepregistration">Register</a></p>
            </div>
            <br>
            <br>
        </form>
    </div>
</body>


