<!-- <p>admin-ngo works!</p>

<br>
<div class="card table-responsive">
    <div class="card-header">
        <h3 class="text-center p-3 h3-responsive">NGO Registrations</h3>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <th>NGO ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Point of Conatct</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Register No.</th>
                <th>Edit</th>
            </thead>
            <tbody>
                <tr *ngFor="let x of ngo">
                    <td>{{x.ngo_Id}}</td>
                    <td>{{x.ngo_Name}}</td>
                    <td>{{x.address}}</td>
                    <td>{{x.Point_of_Contact}</td>
                    <td>{{x.ngo_Email}}</td>
                    <td>{{x.contact_No}}</td>
                    <td>{{x.register_No}}</td>
                    <td> </td>
            
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br> -->

