<p>ngoregister works!</p>
<div class="container-fluid" id="registration-step">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        <h4 class="h4-responsive text-center p-2">Why should we register?</h4>
                    </div>
                    <div class="card-body">
                        <ul type="disc">
                            <li>In principle, an NGO does not have to register itself to perform charitable, welfare or
                                developmental activities.</li>
                            <li>There are some specific types of activities that can only be carried out if the NGO is
                                registered under the country's specific acts or laws governing NGOs (particularly
                                related to fund-raising).</li>
                            <li>Due to obligations required of a registered NGO, the registration process leads to the
                                development of systematic thinking and functioning of NGOs.</li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <h4 class="h4-responsive text-center p-2">What are the benefits?</h4>
                    </div>
                    <div class="card-body">
                        <ul type="disc">
                            <li>Registered NGOs obtain legal status in order to enable them to interact at the official
                                level
                            </li>
                            <li>The NGO can open a bank account in the name of the organization, or sign contracts in
                                the name
                                of the organization.</li>
                            <li>A registered NGO can also qualify for financial assistance from government agencies and
                                local,
                                national and international donors.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="register">
                <section>
                    <div class="container py-2 h-20 mt-1">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12">
                                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <h3 class="fw-normal mb-5" style="color: #4835d4;">Ngo Registration Form</h3>
                
                                                    <div class="row">
                                                        <div class="col-md-6 mb-2 pb-2">
                                                            <div class="form-outline">
                                                                <input type="number" id="form3Examplev2" class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplev2">Ngo Id</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-2 pb-2">  
                                                            <div class="form-outline">
                                                                <input type="text" id="form3Examplev2"
                                                                    class="form-control form-control-lg"  required />
                                                                    
                                                                <label class="form-label" for="form3Examplev2">Ngo Name</label>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    
                                                    <div class="row">
                                                        <div class="col-md-6 mb-2 pb-2">
                                                            <div class="form-outline">
                                                                <input type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplev2">Point of Contact</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-2 pb-2">  
                                                            <div class="form-outline">
                                                                <input type="number" id="form3Examplev2"
                                                                    class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplev2">Contact</label>
                                                            </div>
                                                        </div>
                                                        <div class="mb-2 pb-2">
                                                            <div class="form-outline form-white">
                                                                <input type="email" id="form3Examplea2"
                                                                    class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea2">Email</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                                    
                                                    <br>
                                                    <br>
                                           
                                            <div class="col-lg-6 gradient-custom text-white">
                                                <div class="p-5">
                                                    <div class="mb-2 pb-2">
                                                        <div class="form-outline form-white">
                                                            <input type="text" id="form3Examplea2"
                                                                class="form-control form-control-lg" />
                                                            <label class="form-label" for="form3Examplea2">Address</label>
                                                        </div>
                                                    </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-2 pb-2">
                                                    <div class="form-outline form-white">
                                                        <input type="number" id="form3Examplea3"
                                                            class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Examplea3">Pin Code</label>
                                                    </div>
                                                </div>
                
                                                <div class="col-md-6 mb-2 pb-2">
                                                    <div class="form-outline form-white">
                                                        <input type="text" id="form3Examplea3"
                                                            class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Examplea3">City</label>
                                                    </div>
                                                </div>
                                            </div>
                
                
                                                        <div class="mb-2 pb-2">
                
                                                            <div class="form-outline form-white">
                                                                <input type="text" id="form3Examplea4"
                                                                    class="form-control form-control-lg"/>
                                                                <label class="form-label" for="form3Examplea4">State</label>
                                                            </div>
                
                                                        </div>
                                                        
                                                 
                
                                                    <div class="mb-2 pb-2">
                                                        <div class="form-outline form-white">
                                                            <input type="text" id="form3Examplea6"
                                                                class="form-control form-control-lg" />
                                                            <label class="form-label" for="form3Examplea6">Registration Number</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 mb-2 pb-2">
                                                            <div class="form-outline form-white">
                                                                <input type="password" id="form3Examplea3"
                                                                    class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea3">Password</label>
                                                            </div>
                                                        </div>
                        
                                                        <div class="col-md-6 mb-2 pb-2">
                                                            <div class="form-outline form-white">
                                                                <input type="password" id="form3Examplea3"
                                                                    class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea3">Confirm Password</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-check d-flex justify-content-start mb-2 pb-3">
                                                        <input class="form-check-input me-3" type="checkbox" value=""
                                                            id="form2Example3c" />
                                                        <label class="form-check-label text-white" for="form2Example3">
                                                            I do accept the <a href="#!" class="text-white"><u>Terms and
                                                                    Conditions</u></a> of your
                                                            site.
                                                        </label>
                                                    </div>
                
                                                    <button type="button" class="btn btn-light btn-lg"
                                                        data-mdb-ripple-color="dark">Register</button>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </section>
                
            </div>
        </div>
    </div>
</div>
<h3 class='text-center text-success p-2'> {{ response }} </h3>