<!-- <p>admin-trainee works!</p>
<br>
<div class="card table-responsive">
    <div class="card-header">
        <h3 class="text-center p-3 h3-responsive">Trainee Registrations</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Contact No</th>
                <th>Email</th>
                <th>Aadhar No</th>
                <th>Password</th>
                <th>Is_Approved</th>
                <th>Edit</th>
            </thead>
            <tbody>
                <tr *ngFor="let x of steplist">
                    <td>{{x.step_id}}</td>
                    <td>{{x.firstname}}</td>
                    <td>{{x.lastname}}</td>
                    <td>{{x.age}}</td>
                    <td>{{x.contact_no}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.aadhar_no}}</td>
                    <td>{{x.password}}</td>
                    <td>{{x.is_approved}}</td>      
                    <td> <a routerLink ="/edit/{{x.step_id}}" class="btn btn-warning">Edit</a> </td>          </tr>
            </tbody>
        </table>
    </div>
</div>
<br> -->