<!-- <p>admin-login works!</p>
<body>
    <div class="card " style="border-radius: 20px; margin: 20px 350px; padding-left: 50px">
        <br />
        <h5 class="fw-normal mb-3 pb-3" style="text-align: center;"> Please log into your account</h5>
        <br />
        <br />
        <form #myform="ngForm"  (ngSubmit)="onSubmit(myform)">
            <div class="row mb-3 form-outline mb-4">
                <label for="admin_Id" class="col-sm-4 col-form-label">Admin Id</label>
                <div class="col-md-6">
                    <input type="number" class="form-control" name="admin_Id" placeholder="Enter Id" ngModel>
                </div>
            </div>
            <div class="row mb-3">
                <label for="admin_Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" name="admin_Password" placeholder="Enter Password" ngModel>
                </div>
            </div>
            <br>
            <br>
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    Checkbox
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
    
                <div class="col">
                    Simple link
                    <a href="#!">Forgot password?</a>
                </div>
            </div>


            Submit button
            <div class="justify-content-center">
                <button type="submit" class="btn btn-primary col-md-10">Login</button>
            </div>
                
            
            <br>
            <br>

            

        </form>
    </div>
</body>

{{ myform.value|json}} -->